@model AssignmentOne.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Sign Up</title>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Sign Up</h5>
    @if(ViewBag.UserFound == true) {
        <p>A user with this email address already exists! Do you want to <a asp-action="Login">login</a>?</p>
    }
    <form asp-action="Index" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="FirstName">First Name:</label>
            <input asp-for="FirstName" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name:</label>
            <input asp-for="LastName" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control"/>
        </div>
         <div class="form-group">
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" class="form-control"/>
        </div>
        </div class="form-group">
         <div>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password:</label>
            <input asp-for="ConfirmPassword" class="form-control"/>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Sign Up</button>
            <a asp-action="Login" class="btn btn-secondary">Login</a>
        </div>
       
    </form>
    
</body>
</html>