@model AssignmentOne.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Login</title>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Login</h5>
    @if(ViewBag.UserFound == false) {
        <p>User with email does not exist, would you like to <a asp-action="Index">sign up</a>?</p>
    }
    <form asp-action="Login" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Login</button>
            <a asp-action="Index" class="btn btn-secondary">Sign Up</a>
        </div>
       
    </form>
</body>
</html>